extends layouts/layout

block content
  .container
    h2 Meine Projekte
    table.table
      thead
        tr
          th Projektname
          th Kurzbeschreibung
          th letzte Änderung

      tbody
        for projekt in projekte
          tr
            td
              a(href="/projekt/#{projekt._id}") #{projekt.name}
            td #{projekt.beschreibung.slice(0, 70)}...
            td #{moment(projekt.letzteAenderung).format('LLL')}
            //td #{moment(projekt.letzteAenderung).startOf('day').fromNow()}



